
.footer-top{
	background: #10ae4b;
	padding: 15px 15px;
	text-align: justify;
	.widget-title{
		background: none;
	}
	#map2{
		max-height: 350px;
	}
	.address{
		text-align: justify;
	}
	.title_footer_post{
		position: relative;
		line-height: 65px;
		font-family: myriad-condensed;
		font-size: 18px;
			&::before{
				content: "";
				position: absolute;
				width: 100%;
				height: 3px;
				background: #efefef;
				top: 50px;
				}
			
	}
	.cat-title{
		.widget-title{
			position: relative;
			line-height: 65px;
			font-size: 18px;
			padding: 0px;
			text-align: justify;
			text-transform: none;
			&::before{
				content: "";
				position: absolute;
				width: 100%;
				height: 3px;
				background: #efefef;
				top: 50px;
				}
		}
	}
}
.footer {
	margin-top: 30px;
	#footer_ad{
		i{
			width: 20px;
		}
	}
	.widget {
	    color: #fff;
	    line-height: 1.4;
	    font-size: 14px;
	    text-align: justify;
		.footer_post{
			.title_footer_post{
				position: relative;
				line-height: 65px;
				font-size: 18px;
				font-family: myriad-condensed;
				&::before{
					content: "";
					position: absolute;
					width: 100%;
					height: 3px;
					background: #efefef;
					top: 50px;
				}
				
			}
			.content{
				.footer_item{
					margin-bottom: 10px;
					i{
						margin-right: 15px;
					}
					img:hover{
						opacity: 0.7;
					}
					.footer_item_img{
						padding: 0px;
					}
					.footer_item_duan{
						padding: 0px;
					}
				}
				margin-top: 0px;
			}
		}
	}
	a {
		color: #fff;
	}
}
.footer-bottom{
	background: #252525;
	text-align: center;
	    color: #fff;
	    line-height: 1.4;
	    font-size: 14px;
}