@keyframes slideInDown{
    0%{
        @include transform(translate3d(0,-100%,0));
        visibility: visible;
    }
    100%{
        @include transform(translate3d(0,0,0));
    }
}
.banner-home {
    position: relative;
    .slick-active .banner-title {
        display: block;
    }
    .banner-title {
        bottom: 40px;
        left: 0;
        position: absolute;
        @include animation(1s ease normal slideInDown);
        display: none;
        left: 43%;
        background: #fff;
        padding: 10px;
        @include border-radius(8px);
        a h3 {
            color: #000;
            display: inline-block;
            font-size: 18px;
            margin-bottom: 0px;
            // margin: 0;
            // padding: 10px 10px 10px 100px;
        }
        // .fa {
        //     background: $red-primary;
        //     color: #fff;
        //     font-size: 22px;
        //     height: 100%;
        //     left: 100%;
        //     line-height: 40px;
        //     position: absolute;
        //     text-align: center;
        //     top: 0;
        //     width: 40px;
        // }
    }
    img {
        @extend background-cover;
        margin: 0 !important;
    }
}

.banner-no-home {
    img {
        width: 100%;
    }
}

















