    .sidebar .category-content .item .info .title a h3 {
        line-height: 1.2;
        max-height: 55px;
        overflow: hidden;
    }

    .category-news {
        padding: 0 15px;
        .category-content {
            .item {
                figure {
                    max-width: 204px;
                }
                .info {
                    width: calc(100% - 224px);
                    .title {
                        a h3 {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
    
    .category-content {
        section {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        .msc-listing {           
            background: #fff none repeat scroll 0 0;
            border: 1px solid #ccc;
        }
        .item {
            border-bottom: 1px solid #ccc;
            display: flex;
            display: -webkit-flex;
            padding: 30px 20px;
            position: relative;
            width: 100%;
            figure {
                float: left;
                margin: 0 20px 0 0;
                max-width: 150px;
                width: 100%;
                @include hover-img-toa;
                a img {
                    @extend background-cover;
                }
            }
            .info {
                float: left;
                width: calc(100% - 170px);
                .title {
                    a h3 {
                        color: #000;
                        font-size: 15px;
                        margin: 0;
                        padding: 0;
                        position: relative;
                    }
                }
                .desc {
                    font-size: 14px;
                    line-height: 1.2;
                    margin: 20px 0 10px;
                    position: relative;
                    &::after {
                        background: #ccc none repeat scroll 0 0;
                        content: "";
                        height: 1px;
                        left: 0;
                        position: absolute;
                        top: -10px;
                        width: 30px;
                    }
                }
            }
            &::after {
                background: transparent none repeat scroll 0 0;
                bottom: -1px;
                content: "";
                height: 4px;
                left: 0;
                position: absolute;
                width: 100%;
            }
            &:hover {
                &::after {
                    background: #808080 none repeat scroll 0 0;
                }
            }
        }
    }


    .category-content #mep_0 {
        width: 100%;
    }
    .category-content iframe {
        width: 100%;
    }
