.chuyenvien {
    .chuyenvien-meta-title {
        color: #464646;
        font-size: 30px;
        margin: 0 0 30px;
        text-align: center;
        text-transform: uppercase;
    }
    article {
        display: flex;
        display: -webkit-flex;
        margin-bottom: 30px;
        width: 100%;
        figure {
            float: left;
            margin: 0 20px 0 0;
            max-width: 270px;
            width: 100%;
            @include hover-img-color;
            img {
                width: 100%;
                @extend box-shadow-image;
            }
        }
        .info {
            background: #fff none repeat scroll 0 0;
            float: left;
            width: calc(100% - 290px);
            .cat-title h3 {
                text-align: left;
            }
            .desc {
                padding: 30px;
                text-align: justify;
            }
        }
        &:nth-child(2n) {
            @include flex-direction( row-reverse );
            figure {
                margin: 0 0 0 20px;
            }
        }
    }
}

