.project-news {
    margin-bottom: 30px;
    &:first-child{
        padding-left: 0px;
    }
    &:nth-child(2){
        padding-right: 0px;
    }
    .msc-listing {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ccc;
        .item {
            position: relative;
            figure {
                a img {
                    @extend background-cover;
                }
            }
            .title h3 {
                background: transparent;
                border-bottom: 1px solid #ccc;
                color: #000;
                @extend css-font-myriad;
            }
            .read-more a {
                font-size: 16px;
                left: 50%;
                right: auto;
                @include transform( translateX(-50%) );
                // width: 100%;
                top: 33%;
                bottom: 54%;
                text-align: center;
                opacity: 0;
                &:hover{
                    opacity: 1;
                }
                .fa {
                    font-size: 20px;
                }
            }
        }
    }
}
        .intro-home-button {
            text-align: center;

            a {
                background: $red-primary none repeat scroll 0 0;
                color: #fff;
                display: inline-block;
                font-size: 18px;
                padding: 10px 20px;
                margin: 15px;
            }
        }


//intro-home
.intro-home {
    margin-bottom: 30px;
    padding: 0px;
    .cat-title h3 {
        display: inline-block;
        margin: 0 0 15px 0;
    }
    .intro-home-content {
        background: #fff none repeat scroll 0 0;
        font-size: 14px;
        padding: 20px;
        text-align: justify;
    }
        .intro-home-button {
            text-align: center;
            a {
                background: $red-primary none repeat scroll 0 0;
                color: #fff;
                display: inline-block;
                font-size: 18px;
                padding: 10px 20px;
            }
        }
}
#new_post{
    background: none;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    .item{
        background:#fff;
        margin: 5px;
        min-height: 400px;
        max-width: 24%;
        .title{
            white-space: nowrap;
        }
        .title-new-post{
            max-height: 70px;
            overflow: hidden;
            a{
                color: $red-primary;
                font-size: 22px;
                font-weight: bold;
                font-family: myriad-condensed;
            }
        }
        .des-new-post{
            font-family: myriad-condensed;
            font-size: 18px;   
        }
        .img-new-post img:hover{
            opacity: 0.7;
        }
    }
}
.page-template, .page-template-default, .archive {
    .content{
        margin-top: 50px;
    }
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
