.widget_newsnews{
	.read-more{
		a{
			width: 100%;
			background: $red-primary;
		}
	}
	.item{
		min-height: 190px;
	}
}
.widget_newslook{

	.read-more{
		a{
			width: 100%;
			background: $red-primary;
		}
	}
	.item{
		min-height: 190px;
	}
}
.new_post{
	.cat-title{
		padding: 0 15px;
	}
	.read-more{
		a{
			width: 100%;
			background: $red-primary;
		}
	}
}
