@media screen and (min-width: 1200px) {

}
@media screen and (max-width: 1199px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
	//du an
	.duan-content .slick-arrow {
		display: none !important;
	}
}
//end 1200px
@media screen and (min-width: 1024px) {
	.header-content .header-right .header-bottom .header-bottom-right .language:hover #lang_sel_list ul {
		display: inline-block;
	}
}
@media screen and (max-width: 1024px) {
	//banner
	.banner-home{
		.banner-title{
			left: 42%;
		}
	}
	//header
	.headertop{
		padding: 0 16px;
		.header-top{
			font-size: 34px;
		}
	}
	.header-content .header-right .header-bottom {
	    height: 44px;
	    position: relative;
	    margin: 0 30px;
	    .header-bottom-right {
		    height: 44px;
		    position: absolute;
		    right: 0;
		    top: 0;
		    z-index: 10;
		    #lang_sel_list{
		    	line-height: 60px;
		    }
		}
	}
	.header-content .header-right .header-bottom .header-bottom-right .language #lang_sel_list ul {
		display: inline-block;
		@include animation( unset );
	}
	.header-content .header-right .header-bottom .header-bottom-right .language #lang_sel_list {
		// display: none;
	}
	#new_post .item{
		max-width: 23%;
	}
	.header-right .header-bottom .header-bottom-right .language #lang_sel_list ul li a{
		margin: 0px;
		margin-right: 5px;
	}
}
@media screen and (max-width: 992px) {
	//tin-tuc
	.category-news {
		margin-bottom: 30px;
	}
	//header
	.headertop{
		.header-top{
			font-size: 27px;
		}
	}
	//gioithieu
	.chung-nhan .slick-arrow {
		display: none !important;
	}
	.chung-nhan .row {
	    padding: 0 20px;
	}
	.new_post{
		margin-top: 30px;
	}
	//banner
	.banner-home{
		.banner-title{
			left: 43%;
		}
	}
	//footer
	.footer_post{
		.content{
			margin-top: 0px;
			.col-md-4{
				padding: 0px;

			}
			.footer_item_title{
				max-height:60px;
				overflow: hidden;
			}
		}

	}
}
//end 992px
@media screen and (max-width: 767px) {
	//header
	.header-content .header-right {
		.header-bottom {
		    background: transparent;
		    .header-bottom-right{
		    	.search-box{
		    		.search-icon{
		    			background: none;
		    			color: #10ae4b;
		    		}
		    	}
		    }
		}
		.header-top {
		    font-size: 28px;
		}
	}
	//menu
	.menu::after {
		display: none;
	}
	//lien he
	.contact-content {
	    margin-bottom: 30px;
	    max-width: 100%;
	}
	//chuyen vien
	.chuyenvien article {
		@include flex-wrap( wrap );
		figure {
		    margin: 0 auto 30px !important;
		}
		.info {
			width: 100%;
		}
	}
	.footer-top .address{
		text-align: center;
	}
}
//end 767px
@media screen and (max-width: 667px){
	.headertop .header-top{
		font-size: 28px;
	}
	.headertop .header-top .address{
		font-size: 15px;
	}
	//new-post
	#new_post{
		.item{
			.title-new-post{
				min-height: 140px;
				a{
					font-size: 18px;
				}
			}
		}
	}
	//banner
	.banner-home{
		.banner-title{
			left: 42%;
		}
	}
}
@media screen and (max-width: 575px) {
	//header
	.header-content .logo {
	    text-align: center;
	    width: 100%;
	}
	.header-content {
	    @include flex-wrap( wrap );
	    .header-right {
		    padding-left: 0;
		    width: 100%;
		    .header-top {
			    text-align: center;
			}
		}
	}
	//banner
	.slick-arrow {
		display: none !important;
	}
	//single du an
	.single-duan .single-content .single-duan-info .tab-content {
	    padding: 10px 5px;
	    .content-field-duan {
	    	li {
		    	@include flex-wrap( wrap );
		    	.name-field-duan {
				    width: 100%;
				}
				.info-field-duan {
				    width: 100%;
				}
			}
	    }
	}
	#new_post .item{
		max-width: 31%;
		.title-new-post{
			min-height: 55px;
		}
	}
	.headertop .header-top{
		font-size: 29px;
		text-align: center;
	}
	//banner
	.banner-home{
		.banner-title{
			left: 38%;
		}
	}
	//footer
	.footer{
		.row{
			margin-left: 0px;
			margin-right: 0px;
		}
		.widget{
			&:first-child{
				text-align: center;
			}
		}
	}
}
//end 575px
@media screen and (max-width: 480px) {
	//header
	.header-content .header-right {
		.header-top {
		    font-size: 22px;
		}
		.header-bottom {
			.header-bottom-right .search-box form input {
			    top: 122%;
			    right: -55px;
			    margin: 0;
			}
		}
	}
	.project-news{
		&:first-child{
			padding-right: 0px;
		}
		&:nth-child(2){
			padding-left: 0px;
		}
	}
	//tin-tuc
	.category-news {
		@include respon-img-full;
	}
	//single
	.single-content {
	    padding: 20px;
	}
	//chuyen vien
	.chuyenvien {
		article .info .desc {
		    padding: 20px;
		}
		.chuyenvien-meta-title {
		    font-size: 24px;
		}
	}
	//single du an
	.single-duan .single-content .single-duan-info .tab-content {
		padding: 20px;
	}
	#new_post .item{
		max-width: 100%;
	}
	.headertop .header-top{
		font-size: 18px;
	}
	.headertop .header-top .address{
		font-size: 14px;
	}
	.banner-home .banner-title a h3{
		font-size: 13px;
	}
	//banner
	.banner-home{
		.banner-title{
			left: 36%;
		}
	}
}
//end 480px
@media screen and (max-width: 400px) {
	//sidebar
	@include respon-img-full;
	//doi tac
	.doitac article {
		max-width: 100%;
	}
	//single du an
	.single-duan .single-content .single-duan-info .nav-tabs li a.nav-link {
		font-size: 14px;
	}
	.headertop .header-top{
		font-size: 15px;
	}
}
//end 400px
@media screen and (max-width: 320px) {
}




