.single-duan {
    .single-content {
        background: transparent none repeat scroll 0 0;
        padding-left: 0;
        padding-right: 0;
        .single-duan-info {
            .nav-tabs {
                padding: 30px 0 0;
                border: none;
                li {
                    width: 50%;
                    float: left;
                    border-bottom: 1px solid #ccc;
                    a.nav-link {
                        background: $red-primary;
                        @include border-radius( 15px 15px 0 0 );
                        @extend border-radius-web;
                        color: #fff;
                        margin: 0 5px 0 0;
                        float: right;
                        border: none;
                        font-size: 22px;
                        @extend css-font-myriad;
                    }
                    .nav-link.active {
                        background: #bfbfbf none repeat scroll 0 0;
                        color: #000;
                    }
                    &:last-child {
                        a {
                            margin: 0 0 0 5px;
                            float: left;
                        }
                    }
                }
            }
            .tab-content {
                background: #fff none repeat scroll 0 0;
                padding: 30px 30px 0 30px;
                clear: both;

                .content-field-duan {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li {
                        padding: 10px 15px;
                        display: flex;
                        display: -webkit-flex;
                        &:nth-child(2n+1) {
                            background: #ebebeb none repeat scroll 0 0;
                        }
                        .name-field-duan {
                            display: inline-block;
                            font-weight: bold;
                            min-width: 150px;
                        }
                    }
                }
            }
        }
    }
}

